html, body{
    width: 100%;
    height: 100%;
    --grenn: #5E8B60;
    --cinza: #282729;
    --cinza2: #2B3035;
}
.bi-caret-left-square{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}
.purple{
    background-color: #800080;
    color: #fff;
}
.logo{
    width: 9rem;
}
.back{
    align-self: flex-end;
}
#btnGo{
    transform: rotateY(180);
}
.cont{
    display: flex;
    flex-direction: row;
} 
.sidebar{
    margin-top: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    padding: 1rem;
    height: 750px;
    color: #fff;
    background-color: var(--cinza2);
    min-width: 190px;
    overflow: hidden;
}
.sidebarHidden{
    margin-top: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    flex: .3;
    display: flex;
    padding: .2rem;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: 750px;
    color: #fff;
    background-color: var(--cinza2);
    min-width: 60px;
    overflow: hidden;
}
.content{
    padding: 20px;
    color: #fff;
    flex: 5;
    overflow: hidden;
}
.btnSide{
    background: none;
    border: none;
    text-align: center;
    color: var(--grenn);
    padding: 5px;
}
.btnSide:hover{
    color: #fff;
}
.sidebarHidden .btn{
    text-align: center;
}
.btn i{
    margin-right: 2px;
    font-size: 16px;
}
.sidebarHidden .btn i{
    margin: 0;
    font-size: 18px;
}

.btnDiv{
    flex: 10;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

.btnDiv a{
    text-decoration: none;
    font-size: 16px;
    color: #5E8B60;
}

.btnDiv a i{
    font-size: 18px;
    margin-right: 5px;
}

.btnDiv a:hover{
    color: #fff;
}

.logoDiv{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: gray;
    padding: 20px;
}

.footer i{
    font-size: 20px;
}
.footer a{
    color: gray;
    text-decoration: none;
}
.footer img{
    width: 50px;
}

.footDiv{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.userFoot{
    gap: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: flex-end;

}
.username{
    font-size: 12px;
}


.framePedidos{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;
}
nav{
    padding: .5rem;
    background: var(--cinza2);
    width: 100%;
}
.adds i{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}
.adds input{
    height: 20%;
    width: 20%;
}
.adds{
    width: 100px;
}
.in{
    min-width: 30px;
    max-width: 30px;
}
.in::-webkit-inner-spin-button, .input-cmd{
    -webkit-appearance: none;
}
.contLogin{
    background: #5E8B60;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.text-bg-green{
    background-color: var(--grenn);
    color: #fff;
}
.contLogin a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.categs{
    background: var(--cinza2);
    border-top-right-radius: 20px;
    padding: 10px;
    border-bottom-right-radius: 20px;
    width: 175px;
}
.vendasStatus{
    gap: 10px;
    flex-wrap: wrap;
}
.vendasStatus .card{
    flex-grow: 1;
    flex-basis: 150px;
    border-left: 4px solid var(--grenn);
    height: 16vh;
}
.card{
    flex-grow: 1;
    flex-basis: 150px;
}
.prodsComCateg{
    background: var(--cinza2);
    border-radius: 15px;
}
.divFootc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: left;
    padding: 0px;
    gap: 0px;
    margin: 0px;
}
.divFootc p{
    margin-top: 10px;
    font-size: 12px;
}
.divFootc i{
    font-size: 25px;
}
.graphD{
    background: var(--cinza2);
    border-radius: 10px;
    flex-grow: 2;
    flex-basis: 200px;
    min-width: 200px;
    max-height: 400px;
    box-shadow: black 3px 3px 10px;
    padding: 10px;
    align-items: stretch;
    justify-content: center;
}

.Dms{
    background: var(--cinza2);
    border-radius: 10px;
    display: flex;
    flex-grow: 2;
    flex-basis: 200px;
    box-shadow: black 3px 3px 10px;
    flex-wrap: wrap;
    padding: 10px;
}


.frameDash{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5E8B60;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #5E8B60;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
  
.impSel{
    width: 150px;
}