#root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  --green: #5E8B60;
  --cinza: #282729;
  --cinza2: #2B3035;
  --blue: #023047;
  --red: #c1121f;
  --violet: #8338ec;
  --green2: #3a5a40;
  --orange: #fb8500;
  --brow: #bc6c25;
}

body, html{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flex-adorno{
  position: absolute;
}

.adorno{
  position: relative; 
  z-index: 1;
  transform: rotate(-35deg);
  height: 150px; 
  top: 0px;
  left: 180px;
}

#tb_vendas{
    background-color:#333;
    border: 1px solid #333;
    border-radius: 10px;
}

/*Theme the header*/
#tb_vendas .tabulator-header {
    background-color:#212529;
    color:#fff;
}

/*Allow column header names to wrap lines*/
#tb_vendas .tabulator-header .tabulator-col,
#tb_vendas .tabulator-header .tabulator-col-row-handle {
    white-space: normal;
    background: #212529;
}
#tb_vendas .tabulator-paginator {
    white-space: normal;
    background: #212529;
    color: white;
}

#tb_vendas .tabulator-paginator button{
    white-space: normal;
    background: #212529;
    color: white;
}

.tabulator .tabulator-footer {
  background-color: #212529;
  color: white;
}


/*Color the table rows*/
#tb_vendas .tabulator-tableholder .tabulator-table .tabulator-row{
    color:#fff;
    background-color: #212529;
    padding-top: 2px;
}

/*Color even rows*/
#tb_vendas .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even) {
    background-color: #2c3034;
}

/* Hover */
#tb_vendas .tabulator-tableholder .tabulator-table .tabulator-row:hover{
    background-color: #323539;
}

#tb_vendas .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even):hover {
    background-color: #323539;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.logo{
    width: 100px;
    height: 100px;
    border: none;
}
/* nav{
    background: var(--cinza2);
}
.nv{
    background-color: var(--cinza);
} */
/* ::-webkit-scrollbar{
    width: 0px;
} */
.navBot{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: var(--cinza2);
    box-shadow: #0000 3px -5px 60px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.navBot-item{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.navBot-item:hover{
    color: var(--green);
}
.dp-item-exit:hover{
    background-color: var(--red);
}
.itemDP:hover{
    background-color: var(--green);
}
.dp-item:hover{
    background-color: var(--green);
}
.btnM, .btnM-exit{
    background: none;
    text-decoration: none;
    color: white;
    font-size: 16px;
    flex-wrap: nowrap;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    align-self: flex-end;
    border: none;
    text-align: left;
    transition: transform 0.3s ease;

}
.btnM:hover{
    color: #2ecc71;
    transform: translateX(5px);
    box-shadow: inset 0 0 0 1px #2ecc71aa, 0 0 6px #2ecc7190;
    transform: translateX(5px);
    background: var(--green);
}
.btnM-exit:hover{
    background: rgba(204, 46, 46, 0.08);
    color: #ee3d3d;
    transform: translateX(5px);
    box-shadow: inset 0 0 0 1px #d62518aa, 0 0 6px #be160090;
    background: var(--red);
}
.metric{
    flex-grow: 1;
    min-width: 150px;
    height: 95px;
}
.bg-blue{
    background: var(--blue);
}
.bg-green2{
    background: var(--green2);
}
.bg-violet{
    background: var(--violet);
}
.bg-orange{
    background: var(--orange);
}
.bg-green{
    background: var(--green);
}
.bg-brow{
    background: var(--brow);
}
.bd-normal{
    border: 1px solid gray;
    border-radius: 10px;

}
.bd-red{
    border: 1px solid gray;
    border-radius: 10px;
    border-left: 8px solid red;
}

.bd-blue{
    border: 1px solid gray;
    border-radius: 10px;
    border-left: 8px solid var(--blue);
}

.bd-violet{
    border: 1px solid gray;
    border-radius: 10px;
    border-left: 8px solid var(--violet);
}

.bd-green{
    border: 1px solid gray;
    border-radius: 10px;
    border-left: 8px solid var(--green);
}

.bd-green2{
    border: 1px solid gray;
    border-radius: 10px;
    border-left: 8px solid var(--green2);
}

.bd-gray{
    border: 1px solid gray;
    border-radius: 10px;
    border-left: 8px solid var(--cinza);
}

.bd-gray2{
    border: 1px solid gray;
    border-radius: 10px;
    border-left: 8px solid var(--cinza2);
}

.bd-orange{
    border: 1px solid gray;
    border-radius: 10px;
    border-left: 8px solid var(--orange);
}

.bd-brow{
    border: 1px solid gray;
    border-radius: 10px;
    border-left: 8px solid var(--brow);
}

.hcard{
  border-radius: 10px;
  background-color: var(--green);
  border: 2px solid #333;
}

.hcard-header{
  background-color: var(--green2);
}

@media only screen and (max-width: 500px) {
    .mobile-hide{ display: none !important; }
}

@media only screen and (max-width: 500px) {
    .mobile{ display: inline !important; }
}

@media only screen and (min-width: 500px) {
    .mobile{ display: none !important; }
}

@keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
}
   
   .loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
   }
   
   .loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: #5E8B60;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loader-square:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
   }
   
   .loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
   }
   
   .loader-square:nth-of-type(7) {
    animation-delay: -10s;
   }


.cards {
    position: relative;
    height: 150px;
    transition-duration: 0.5s;
    background: none;
    overflow: hidden;
  }
  
  .cards:hover {
    height: 270px;
  }
  
  .cards:hover .outlinePage {
    box-shadow: 0 10px 15px #333;
  }
  
  .cards:hover .detailPage {
    display: flex;
  }
  
  .outlinePage {
    position: relative;
    background: linear-gradient(45deg, #333, black);
    width: 300px;
    height: 150px;
    border-radius: 25px;
    transition-duration: 0.5s;
    z-index: 2;
  }
  
  .detailPage {
    position: relative;
    display: none;
    width: 300px;
    height: 120px;
    background: white;
    top: -20px;
    z-index: 1;
    transition-duration: 1s;
    border-radius: 0 0 25px 25px;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
  }
  
  .splitLine {
    position: absolute;
    width: 200px;
    height: 10px;
    top: 100px;
    background-image: linear-gradient(
      to right,
      transparent 10%,
      var(--green) 20%,
      var(--green2) 50%,
      var(--green) 70%,
      transparent 90%
    );
    z-index: 1;
  }
  
  .trophy {
    position: absolute;
    right: 0px;
    top: 4px;
    z-index: 2;
  }
  
  .ranking_number {
    position: relative;
    color: var(--green);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 80px;
    left: 20px;
    padding: 0;
    margin: 0;
    top: -5px;
  }
  
  .ranking_word {
    position: relative;
    font-size: 40px;
    color: var(--green);
  }
  
  .userAvatar {
    position: absolute;
    bottom: 6px;
    left: 20px;
  }
  
  .userName {
    position: relative;
    font-weight: 600;
    color: #fff;
    left: 30px;
    font-size: 18px;
    top: -2px;
  }
  
  .medals {
    position: absolute;
    top: 15px;
    right: 5px;
  }
  
  .gradesBox {
    position: relative;
    height: 75px;
    top: 10px;
    margin-right: 10px;
    margin-left: 15px;
  }
  
  .gradesIcon {
    position: absolute;
    top: 10px;
  }
  
  .gradesBoxLabel {
    position: relative;
    display: block;
    margin-left: 60px;
    color: #424c50;
    letter-spacing: 6px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-weight: 800;
    font-size: 13px;
  }
  
  .gradesBoxNum {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 25px;
    font-weight: 800;
    margin-left: 60px;
    color: var(--green);
    top: -5px;
  }
  
  .timeNum {
    color: #6cabf6;
  }
  
  .slide-in-top {
    animation: slide-in-top 1s cubic-bezier(0.65, 0.05, 0.36, 1) both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

/* From Uiverse.io by Satwinder04 */ 
#cal-body {
  width: 400px;
  border-radius: 20px;
  background: #dde1e7;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  padding: 45px;
  scale: 0.6;
}

.input input {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  background: #dde1e7;
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
  border: 0;
  color: rgb(116, 116, 116);
  font-size: 2.5rem;
  padding: 0 30px;
}

.input input:focus {
  outline: none;
  background: #dde1e7;
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.buttons button {
  cursor: pointer;
  height: 60px;
  width: 60px;
  border: 0;
  font-size: 2rem;
  border-radius: 50px;
  background: #dde1e7;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  color: rgb(137, 137, 137);
}

.buttons button:focus {
  background: #dde1e7;
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.buttons {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.switch {
  --input-focus: var(--green);
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: var(--green2);
  --bg-color-alt: #666;
  --main-color: #323232;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-colorcolor);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 10px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1060; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 100px; /* 30px from the bottom */
    border-radius: 20px;
}
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 100px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 100px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 100px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 100px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

input[type=number]::-webkit-inner-spin-button{
    appearance: none; 
}

.form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #58bc82;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 250px;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input[type="number"],
.form input[type="password"] {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

.form input[type="number"]:focus,
.form input[type="password"]:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

.form .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form .submit:hover {
  background-color: var(--clr);
  /* color: var(--bg-dark); */
  color: white;
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
  }

.span a {
  color: var(--clr);
}

/* Cards de Vendas */
.sell_card {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 1rem 1.2rem;
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
  flex-grow: 1;
  flex-basis: 10px;
  height: 80px;
  line-height: 5px;
}

.sell_card:hover {
  transform: scale(1.02);
}

.topo {
  display: flex;
  font-weight: 700;
  align-items: baseline;
  gap: 1rem;
  font-size: 0.95rem;
  color: #ccc;
  margin-bottom: 0.5rem;
}

.valor {
  font-size: 1.5rem;
  font-weight: 600;
}

.valor.grande {
  font-size: 2rem;
}

.azul {
  border-left: 4px solid #2896ff;
}

.verde-escuro {
  border-left: 4px solid #28a745;
}

.roxo {
  border-left: 4px solid #9b59b6;
}

.laranja {
  border-left: 4px solid #f39c12;
}

.verde {
  border-left: 4px solid #2ecc71;
}

.azul-escuro {
  border-left: 4px solid var(--blue);
}

.marrom {
  border-left: 4px solid var(--brow);
}

.vermelho-escuro{
  border-left: 4px solid var(--red);
}

.violeta{
  border-left: 4px solid var(--violet);
}

.neon-text {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  color: #2ecc71;
  text-shadow:
    0 0 5px #2ecc71,
    0 0 10px #2ecc71,
    0 0 20px #27ae60,
    0 0 40px #27ae60;
  letter-spacing: 1px;
}

.patt {
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

.patt2 {
  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}
