:root {
    --primary: #5E8B60;
    --secondary: #3a5a40;
    --tertiary: #2B3035;

    --cinza_escuro: #282729;
    --cinza_claro: #2B3035;
    
    --primary-foreground: #fff;
    --blue: #023047;

    --violet: #8338ec;

    --orange: #fb8500;

    --brow: #bc6c25;

    --red: #c1121f;
    --red2: rgb(202, 49, 60);
}

.card-carousel {
  position: relative;
  overflow: hidden;
}

.card-carousel-track {
  display: flex;
  width: 100%;
  transition: transform 0.35s ease;
}

.card-view {
  min-width: 100%;
}

.flex-basis {
    flex-basis: 100px;
}

.flex-basis-200 {
    flex-basis: 200px;
}

.flex-basis-300 {
    flex-basis: 300px;
}

.flex-basis-400 {
    flex-basis: 400px;
}

.flex-basis-500 {
    flex-basis: 500px;
}

.flex-basis-600 {
    flex-basis: 600px;
}

.flex-basis-700 {
    flex-basis: 700px;
}

/* BACKGROUNDS */
.bg-dark {
    background: linear-gradient(#000, #2B3035) !important;
    color: #fff !important;
}

.bg-gray{
    background: var(--cinza_claro) !important;
    color: var(--primary-foreground) !important;
}

.bg-dark-gray{
    background: var(--cinza_escuro) !important;
    color: var(--primary-foreground) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
    color: #fff;
}

.bg-outline-primary {
    background: none !important;
    border: 3px solid var(--primary) !important;
    color: var(--primary) !important;
}

.bg-blue {
    background: var(--blue) !important;
}

.bg-violet {
    background: var(--violet) !important;
}

.bg-red {
    background: var(--red) !important;
    color: #fff !important;
}

.bg-outline-red {
    background: none !important;
    border: 3px solid var(--red) !important;
    color: var(--red) !important;
}

/* BUTTONS */
.btn-primary {
    background-color: var(--primary) !important;
    border: none !important;
    border-radius: 30px;
    color: #fff !important;
}

.btn-primary:hover {
    background-color: var(--secondary) !important;
}

.btn-outline-primary {
    border: 3px solid var(--primary) !important;
    border-radius: 30px;
    color: var(--green) !important;
}

.btn-outline-primary:hover {
    background-color: var(--secondary) !important;
}

.btn-red {
    background-color: var(--red) !important;
    border: none !important;
    border-radius: 30px;
    color: #fff !important;
}

.btn-red:hover {
    background-color: var(--red) !important;
}

.btn-outline-red {
    background-color: none;
    border: 3px solid var(--red) !important;
    border-radius: 30px;
    color: var(--red) !important;
}

.btn-outline-red:hover {
    background-color: var(--red2) !important;
    color: #fff !important;
}

/* TAMANHOS */
.min-widht-300 {
    min-width: 300px;
}

.min-widht-500 {
    min-width: 500px;
}

.min-widht-800 {
    min-width: 800px;
}

/* TEXTOS */
.text-primary {
    color: var(--primary) !important;
}

.text-red {
    color: var(--red) !important;
}