{% extends 'gourmet/base.html' %}
{% block cont %}
<div class="d-flex flex-column">
    <div class="d-flex flex-row mb-2 p-2 justify-content-between align-items-center">
        <h1>Vendas</h1>
        <button class="btn btn-success" onclick="nova_venda()">
            <i class="bi bi-plus-circle-dotted"></i>
            Vender
        </button>
    </div>
    <div class="d-flex flex-row vendasStatus">
        <div class="card">
            <div class="card-body">
                <p><i class="bi bi-cart-fill"></i> Vendas Mês</p>
                <p class="fs-5 text-center">R$ {{vendasMes(cr)}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p><i class="bi bi-bag-fill"></i> Vendas Dia</p>
                <p class="fs-5 text-center">R$ {{vendasDia(cr)}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p><i class="bi bi-x-diamond-fill"></i> Pix</p>
                <p class="fs-5 text-center">R$ {{vendasTipo(cr, 'PIX')}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p><i class="bi bi-credit-card"></i> Cartões</p>
                <p class="fs-5 text-center">R$ {{vendasTipo(cr, 'CREDITO') + vendasTipo(cr, 'DEBITO')}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p><i class="bi bi-cash"></i> Dinheiro</p>
                <p class="fs-5 text-center">R$ {{vendasTipo(cr, 'DINHEIRO')}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p><i class="bi bi-x-square-fill"></i> Canceladas</p>
                <p class="fs-5 text-center">R$ {{vendasTipo(cr, 'CANCELADO')}}</p>
            </div>
        </div>
    </div>
    <br>
    <div class="card p-2">
        <input type="text" class="form-control" placeholder="Busque por elementos da tabela!" id="testeBusca">
        <br>
        <div class="table-responsive" id="Tabletr">
            <table class="table table-striped">
                <thead>
                    <th>Comanda</th>
                    <th>Valor</th>
                    <th>Pago</th>
                    <th>Pagamento</th>
                    <th>Cliente</th>
                    <th>Data</th>
                    <th>Atendente</th>
                    <th>Status</th>
                    <th>Ações</th>
                </thead>
                {% for cmd, valor, pago, pag, cliente, data, atendente, status, id in getVendas(cr)%}
                <tbody>
                    <!-- Modals de Visualização -->
                    <div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Venda - Comanda {{cmd}}</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-action">
                                        <i class="bi bi-cash-stack"></i> Valor: R$ {{valor}}
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <i class="bi bi-wallet2"></i> Metodo de Pagamento: {{pag}}
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <i class="bi bi-check2-all"></i> Status: 
                                        {% if status == 'FINALIZADA' %}
                                        <span class="badge text-bg-success">
                                            {{status}}
                                        </span>
                                        {% elif status == 'CANCELADA' %}
                                        <span class="badge text-bg-danger">
                                            {{status}}
                                        </span>
                                        {% endif %}
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <i class="bi bi-person"></i> Cliente: {{cliente}}
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <i class="bi bi-person-workspace"></i> Atendente: {{atendente}}
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <i class="bi bi-calendar-date-fill"></i> Data: {{data.strftime('%d/%m/%Y')}}
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <i class="bi bi-alarm-fill"></i> Hora: {{data.strftime('%T')}}
                                    </a>
                                    Produtos:
                                    <div class="list-group">
                                        {% for nome, quantidade in saidas(id, cr) %}
                                            <li class="list-group-item">{{nome}} - {{quantidade}}Un.</li>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                            </div>
                          </div>
                        </div>
                    </div>
                    <td>{{cmd}}</td>
                    <td>R$ {{valor}}</td>
                    <td>R$ {{pago}}</td>
                    <td>{{pag}}</td>
                    <td>{{cliente}}</td>
                    <td>{{data.strftime('%d/%m/%Y %H:%M')}}</td>
                    <td>{{atendente}}</td>
                    <td>
                        {% if status == 'FINALIZADA' %}
                        <span class="badge text-bg-success">
                            {{status}}
                        </span>
                        {% elif status == 'CANCELADA' %}
                        <span class="badge text-bg-danger">
                            {{status}}
                        </span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                            {% if status == 'FINALIZADA' %}
                            <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal{{id}}"> <i class="bi bi-eye-fill"></i></i> </button>
                            <button class="btn btn-outline-danger" onclick="cancelar_venda({{id}})"> <i class="bi bi-trash-fill"></i> </button>
                            {% elif status == 'CANCELADA' %}
                            <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal{{id}}"> <i class="bi bi-eye-fill"></i></i> </button>
                            {% endif %}
                        </div>
                    </td>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
    $("#testeBusca").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#Tabletr tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    });
</script>
{% endblock %}